/* ./src/modules/weather/weather_styles.css */

.weather {
  right: 20px;
  margin-top: 25px;
  color: white;
  font-family: Arial, sans-serif;
  text-align: right; /* Align content to the right */
}

.top-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end; /* Align items to the right */
  font-size: 0.9em;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.6);
  gap: 8px; /* Spacing between each section */
}

.wind-info,
.humidity-info {
  display: flex;
  align-items: center;
  gap: 4px; /* Space between icon and text */
}

.sunrise-sunset {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4px;
}

.sunrise, .sunset {
  display: flex;
  align-items: center;
  margin: 2px 0;
}

.wi {
  margin-right: 5px;
}

.current-weather {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align content to the right */
  margin-bottom: 10px;
}

.weather-icon {
  width: 140px;
  height: 100px;
  margin-right: 10px;
}

.temperature {
  font-size: 2.8em; /* Increase the font size for visibility */
  font-weight: 300; /* Thinner font weight for a sleek look */
  margin: 0;
  line-height: 1;
}

.feels-like {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 5px;
}

.humidity-info {
  font-size: 1.2em;
  margin-left: 10px;
  font-family: Arial, sans-serif;
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.6);
}

