/* ./src/modules/weatherforecast/weatherforecast_styles.css */

.weather-forecast {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  font-family: Arial, sans-serif;
  margin-top: 15px;
}

.forecast-header {
  width: 100%;
  text-align: right;
  position: relative;
  font-weight: 300;
  margin-bottom: 5px;
}

.forecast-header h2 {
  font-size: 13px;
  width: calc(100% - 5px);
  text-align: right;
  position: relative;
  font-weight: 300;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.6) !important;
}

.forecast-header::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 99%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.forecast-container {
  display: flex;
  width: 100%;
  margin-top: 15px;
}

.forecast-day {
  text-align: center;
  flex-grow: 1;
}

.icon-container {
  --icon-offset: 1px;
}

.forecast-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
  transform: translateX(var(--icon-offset, 0));
}

.forecast-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.max-temp {
  font-size: 14px;
  margin-left: 3px;
}

.min-temp {
  font-size: 14px;
  margin-left: 3px;
  color: rgba(255, 255, 255, 0.6);
}

.forecast-details {
  font-size: .8rem; /* Keep the text smaller compared to icons */
  --icon-offset: 5px;
}

/* Additional styles */
.forecast-day-name {
  font-size: 14px;
  margin-bottom: 5px;
}

.forecast-details .wind,
.forecast-details .precipitation {
  display: flex;
  align-items: center;
  gap: 0.1rem; /* Adjust spacing between icon and text */
  
}

/* Updated styles for larger icons */
.forecast-details svg,
.forecast-details svg {
  width: 25px; /* Larger size for wind and rain icons */
  height: 25px; /* Keep the same aspect ratio */
  transform: translateY(var(--icon-offset, 0));
}

/* Optional: Ensure text aligns well with larger icons */
.forecast-details .wind,
.forecast-details .precipitation {
  font-size: .8rem; /* Keep the text smaller compared to icons */
  align-items: center;
  padding-left: 28px;
}
