/* bibleverse_styles.css */

.bibleverse-container {
    font-family: Arial, sans-serif;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.bibleverse-container h2 {
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
    opacity: 1;
    
    color: rgba(255, 255, 255, 0.6) 
    
}



.bibleverse-container h3 {
    
    margin-top: -5px;
    border-top: 2px solid rgba(255, 255, 255, 0.6) !important; /* Force white border */

    font-size: 0.9em;
    padding-top: 10px;
    font-weight: 400; 
}